DATABASE_URL="postgresql://USER:SENHA@localhost:5432/DB?schema=public"

JWT_SECRET =  "SECRET"
JWT_TOKEN_AUDIENCE = http://localhost:3004
JWT_TOKEN_ISSUER = http://localhost:3004
JWT_TTL = 3600

NODE_ENV = "testing"
